
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    color: #333;
} 
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}
header h1 {
    margin: 0;
}
section {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}
h2 {
    color: #4CAF50;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 60px;
    border-radius: 8px;
}
.card a {
    text-decoration: none;
    color: #4CAF50;
}
.card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.social-icons {
    margin-top: 20px;
}
.social-icons a {
    text-decoration: none;
    margin: 0 15px;
    font-size: 2em;
    color: #555;
    transition: color 0.3s;
}
.social-icons a:hover {
    color: #0077ff;
}

ul {
    list-style: none;
    padding-left: 0; 
}
